
.layout {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.pageContent {
  width: 100vw;
  box-sizing: border-box;
  background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(18,12,12,1) 35%, rgba(52,55,55,1) 100%);
}