.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.searchBar {
  width: 15rem;
  height: 3rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.button {
  padding: 1.4rem;
  background-color: red;
  border: none;
  border-radius: 0.3rem;
  background-image: url("/Search.png");
  background-position: center;
  background-repeat: no-repeat;
}