@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:  column;
  font-family: Lato, sans-serif;
}

.title {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(15, 15, 15);
}