.header {
  text-align: center;
  margin: 60px 0;
}

.header h1, .header h2 {
  margin: 0;
  font-size: 3.2em;
}

.header span {
  display: block;
  line-height: 1em;
  margin: 0.5rem;
  padding: 0.25rem;
}

.header span:last-child {
  font-size: 1em;
  font-weight: 400;
}

.header span:first-child {
  font-size: 1.5em;
  font-weight: 800;
}

.header h2 {
  font-size: 1.2em;
  font-weight: 400;
}